
<%if author.avatar.attached?%>
  <div>
   <%=image_tag author.avatar.variant(resize:"200x200") %>
  </div>
<% else %>
  <div>
    <img src="http://placehold.it/50x50" width='200px'/>
  </div>
<% end %>