 <div class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" style="padding-right: 16px; background-color: rgba(81,81,81,0.7); display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLiveLabel">You are not authorized </h5>

        </div>
        <div class="modal-body">
          <p>Register or login to continue posts viewing</p>
        </div>
        <div class="modal-footer">
          <%= link_to "Sign up", signup_path, id: "register", class: "btn btn-info btn-sm", style: "color: white" %>
          <%= link_to "Log In", login_path, id:"login", class: "btn btn-success btn-sm" %>
        </div>
      </div>
    </div>
  </div>