// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body{
  a{
    text-decoration: none;
    color: white;
    &:hover{
      background: none;
    }
    &:visited{
      color: white;
    }
  }
  h4{
    color:#FBAB7E;
  }
  td{
    p {
      font-size: 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 350px;
    }
  }
  h2{
    color:#FBAB7E;; 
  }
  .select_author{
    width: 30%;
    background-color: #FBAB7E;
    color: white;
    padding: 5px;
  }
}
.invisible{
  display: none !important;
}

.content{
  margin: 20px;
  width: 60%;  
}
.ow_x{
  overflow-x: auto;
  width: 90%; 
}
#alert {
  color: red; }


@media screen and (max-width: 600px) {
  .none{
    display: none;
  }
  
  .content{
  .select_author{
    width: 200px;
  }
 }




}

