
  i{
    padding-left: 25px;
  }

body{
  a{
    text-decoration: none;
    color: white;
    &:hover{
      background: none;
    }
    &:visited{
      color: white;
    }
  }

.invisible{
  display: none !important;
}
.comment_form{
  background: #e0e0e0; 
  padding: 10px;
}
.comment{
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
  word-break: break-word;
  overflow: hidden;
  .hidden_c{
    display: none;
  }
  .open_children{
    color: rgb(255, 0, 0);
    &:hover{
      color: rgb(247, 161, 0);
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .reply{
    color: rgb(255, 136, 0);
    &:hover{
      color: rgb(226, 70, 43);
      cursor: pointer;
      text-decoration: underline;
    }
  }

  a {
    text-decoration: none;
    color: white;
    &:hover{
      background: none;
      color: white;
    }
    &:visited{
      color: white;
    }
  }
  button{
    color: white;
    &:hover{
      color: white;
    }
  }
  .float{
    float: left;
    margin-right: 2%;
  }
}
#alert {
  color: red;
}
.add_comment h6 a {
  color: rgb(47, 0, 255);
  &:hover{
    color: rgba(17, 35, 134, 0.863);
  }
}

.clickable{
    padding: 2%;
    text-align: justify;
    &:hover{
      background: #ebe1ff;
    }
  }
  .column{
    overflow: hidden;
  }
}
.h5_c{
  margin-top: -3%;
}

.like i{
  color: #00e676;
}
.dislike i{
  color:#e53935;
}
.vote{
  background: none !important;
}

