
  i{
    padding-left: 25px;
  }

.cont{
  margin: auto;
  text-align: justify;
  width: 90%; 
  img{
    margin: 2%;
  } 
}


body{
  a{
    text-decoration: none;
    color: white;
    &:hover{
      background: none;
    }
    &:visited{
      color: white;
    }
  }

 

.invisible{
  display: none !important;
}
.comment_form{
  background: #ebe1ff;
  padding: 10px;
}
.comment{
  padding: 10px;
  background: #eceffd;
  border-radius: 10px;
  margin-bottom: 10px;
  word-break: break-word;
  overflow: hidden;
  .hidden_c{
    display: none;
  }
  .open_children{
    color: rgb(195, 0, 255);
    &:hover{
      color: rgb(127, 0, 247);
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .reply{
    color: blue;
    &:hover{
      color: blueviolet;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  a {
    text-decoration: none;
    color: white;
    &:hover{
      background: none;
      color: white;
    }
    &:visited{
      color: white;
    }
  }
  button{
    color: white;
    &:hover{
      color: white;
    }
  }
  .float{
    float: left;
    margin-right: 2%;
  }
}
#alert {
  color: red;
}
.add_comment h6 a {
  color: blue;
  &:hover{
    color: purple;
  }
}



  
  .clickable{
    padding: 2%;
    text-align: justify;
    &:hover{
      background: #ebe1ff;
    }
  }
  .column{
    overflow: hidden;
  }
}
.h5_c{
  margin-top: -3%;
}
.search{
  padding: 2%;
}


.pag{
  margin-left: 40%;
  padding: 20px;
}
.pagination span{
  padding-right: 10px;
  color: purple;
}
.like i{
  color: rgb(33, 182, 33);
}
.dislike i{
  color: rgb(107, 0, 0);
}
.vote{
  background: none !important;
}
